{%extends 'base.html'%}
{%load static%}


{%block title%}Cadastrar Produtos{%endblock%}

{%block content%}
<div class="container">
    <form action="{%url 'cadastrar_produtos'%}" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        {{form.errors}}
        <div class="form-line">
            <div class="form-line">
                {{form.nome.label}}{{form.nome}}
            </div>

            <div class="form-line">
                {{form.codigo.label}}{{form.codigo}}
            </div>
        </div>

        <div class="form-line">
            {{form.desc.label}}{{form.desc}}
        </div>

        <div class="form-line">
            <div class="form-line">
                {{form.preco.label}}{{form.preco}}
            </div>

            <div class="form-line">
                {{form.quantidade_estoque.label}}{{form.quantidade_estoque}}
            </div>

            <div class="form-line">
                {{form.fornecedor.label}}{{form.fornecedor}}
            </div>
        </div>

        <div class="form-line">
            {{form.categoria.label}}
            {{form.categoria}}

        </div>
        <div class="form-line">
            {{form.foto.label}}
            {{form.foto}}

        </div>
        <button type="submit">Cadastrar</button>
    </form>
</div>



{%endblock%}