{%extends 'base.html'%}
{%load static%}


{%block title%}Estoque:Produtos{%endblock%}

{%block content%}
  {%include '_nav.html'%}


    <div class="container">
        <ul class="responsive-table">
          <li class="table-header">
            <div class="col col-1">código</div>
            <div class="col col-2">Nome</div>
            <div class="col col-3">Preço</div>
            <div class="col col-3">em estoque</div>
            <div class="col col-4">descrição</div>
            <div class="col col4">excluir</div>
          </li>

          {%for item in itens%}
            <li class="table-row">
                <div class="col col-1" data-label="codigo">{{item.codigo}}</div>
                <div class="col col-2" data-label="Nome"><a href="{%url 'detalhes_produto' item.id%}">{{item.nome}}</a></div>
                <div class="col col-3" data-label="preço">{{item.preco}}</div>
                <div class="col col-4" data-label="unidades em estoque">{{item.quantidade_estoque}}</div>
                <div class="col col-4" data-label="unidades em estoque">{{item.desc|slice:":15"}}</div>
                <div class="col col4"><a href="{%url 'excluir_produto' item.id%}">excluir</a></div>
            </li>
          {%endfor%}
        </ul>

        <a href="{%url 'fornecedores'%}">ir para fornecedores</a>
        <br>
        <a href="{%url 'categorias'%}"> ir para categorias</a>
        <br>
        <a href="{%url 'cadastrar_produtos'%}">cadastrar produto</a>
        <br>
        <a href="{%url 'cadastrar_categorias'%}">cadastrar categoria</a>
        <br>
        <a href="{%url 'cadastrar_fornecedores'%}">cadastrar fornecedor</a>


      </div>
{%endblock%}